@font-face {
    font-family: Roboto;
    src: url('./Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url('./Roboto-Bold.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Noto Serif JP';
    src: url('./NotoSerifJP-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Noto Serif JP';
    src: url('./NotoSerifJP-SemiBold.otf');
    font-weight: 600;
}
@font-face {
    font-family: 'Noto Serif JP';
    src: url('./NotoSerifJP-Bold.otf');
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('./NotoSerifJP-Bold.otf');
    font-weight: 500;
}
@font-face {
    font-family: Redressed;
    src: url('./Redressed-Regular.ttf');
    font-weight: 400;
}